<!DOCTYPE html>
<html lang="en">
<head>
  <title>Article</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Article</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="about">Our Mission</a></li>
      <li><a href="mailto:xpythonprogrammerx@gmail.com">Email</a></li>
      <li><a href="join">Join</a></li>
    </ul>
  </div>
</nav>

<style>
    body {
        background-image: url('/static/img32.jpg');
    }
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
    }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>

<form method = "POST">
  <h2 for="url">Type the URL you want shortened : </h2>
  <hr>
  <input type="url" id="url" name="url"><br><br>
  <input type="submit", name="submit_button", value="submitted">
</form>
<p>Your link :</p>
<script src="jquery.js"></script>
<script>
$(function(){
  $("#includedContent").load(window.location.pathname + "2");
});
</script>
<div id="includedContent"></div>

<!--
<h3>About Us.</h3>
<p>The Article Curriculum</p>
<hr>
<p>The Article Curriculum is a way of learning to maximise production and provide a happy mental state through it.</p><br>
<p>Timetable :</p>
<table>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
  </tr>
  <tr>
    <td>Math</td>
    <td>Break</td>
    <td>Literacy</td>
    <td>Art</td>
    <td>Art</td>
  </tr>
  <tr>
    <td>Break</td>
    <td>Break</td>
    <td>Break</td>
    <td>Break</td>
    <td>Break</td>
  </tr>
  <tr>
    <td>Literacy</td>
    <td>Art</td>
    <td>Science</td>
    <td>Math</td>
    <td>Religious Education</td>
  </tr>
  <tr>
    <td>Break / Lunch</td>
    <td>Break / Lunch</td>
    <td>Break / Lunch</td>
    <td>Break / Lunch</td>
    <td>Break / Lunch</td>
  </tr>
  <tr>
    <td>Art</td>
    <td>Break / Lunch</td>
    <td>Math</td>
    <td>Literacy</td>
    <td>Free Time</td>
  </tr>
  <tr>
    <td>End Of Day</td>
    <td>End Of Day</td>
    <td>End Of Day</td>
    <td>End Of Day</td>
    <td>End Of Day / Week</td>
  </tr>
</table>

<p>High Schools (S4)+ should be able to adjust the timetable freely.</p>
-->