<!DOCTYPE html>
<html lang="en">
<head>
  <title>Article</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Article</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="about">Our Mission</a></li>
      <li><a href="mailto:xpythonprogrammerx@gmail.com">Contact</a></li>
      <li><a href="join">Join</a></li>
    </ul>
  </div>
</nav>

<style>
    body {
        background-image: url('/static/img32.jpg');
    }
</style>
<h3>Join the Article Curriculum</h3>
<hr>
<p>Basic information such as the timetable can be found on the <a href="about">about page</a>.</p><br>
<p>If you are changing your curriculum, You should let your administrator know. For a full school curriculum change, The council should be informed</p><br>
<p>If you notice any changes in behaviour or performance, Revert to your previous curriculum as soon as possible.</p>
